In [2]:
# String Based Assignment Problem
# Q-1
x = "Rahul_kumar"
y = x[::-1]
print (y)

ramuk_luhaR

In [5]:
# Q-2
def Palindromecheck(x):
	return x == x[::-1]
x = "AbbA"
ans = isPalindrome(x)
if ans:
	print("Yes")
else:
	print("No")

Yes

In [7]:
# Q-3
txt = "Hello Rahul"

x = txt.upper()

print(x)

HELLO RAHUL

In [8]:
# Q-4
txt = "Hello Rahul"

x = txt.lower()

print(x)

hello rahul

In [10]:
# Q-5
x = "Rahul_kumar"
vowels = "aeiouAEIOU"

count = sum(x.count(vowel) for vowel in vowels)
print(count)

4

In [20]:
# Q-6
def count_consonants(x):
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    count = 0
    for char in x:
        if char in consonants:
            count += 1
    return count

In [25]:
count_consonants("Rahul kumar")

6

In [34]:
# Q-7
# Python3 code to remove whitespace
def remove(x):
	return x.replace(" ", "")

x = " R a hul ku m a r "
print(remove(x))

Rahulkumar

In [36]:
# Q-8
string=input("Enter string:")
count=0
for i in string:
      count=count+1
print("Length of the string is:")
print(count)

Enter string: hello rahul

Length of the string is:
11

In [42]:
# Q-9
str1 = 'I am learning Python'

str2 = 'Python'

str3 = 'Java'

print(f'"{str1}" contains "{str2}" = {str2 in str1}')
print(f'"{str1}" contains "{str3}" = {str3 in str1}')
if str2 in str1:
    print(f'"{str1}" contains "{str2}"')
else:
    print(f'"{str1}" does not contain "{str2}"')

"I am learning Python" contains "Python" = True
"I am learning Python" contains "Java" = False
"I am learning Python" contains "Python"

In [47]:
# Q-10
string_1 = "This is the old string"
string_2 = string_1.replace("old","new")
print(string_1)
print(string_2)

This is the old string
This is the new string

In [52]:
# Q-11
word = "rahul"
str1 = "rahul name is rahul kumar rahul"

count = str1.count(word)
print(count)

3

In [57]:
# Q-12
test_str = "my name is rahul kumar"

print ("The original string is : " + str(test_str)) 

find = test_str.rfind('kumar') 

print ("The index of first element occurrence: " + str(find))

The original string is : my name is rahul kumar
The index of first element occurrence: 17

In [62]:
# Q-13
test_string = "pw is best for skills and also best for Learning"

word = "best"

print("The original string : " + str(test_string))

find = test_string.rfind(word)

print("Index of last occurrence of substring is : " + str(find))

The original string : pw is best for skills and also best for Learning
Index of last occurrence of substring is : 31

In [68]:
# Q-14
def split_into_words(x):
    return x.split()

input_string = "my name is rahul kumar rajak"
words_list = split_into_words(input_string)
print("List of words:", words_list)

List of words: ['my', 'name', 'is', 'rahul', 'kumar', 'rajak']

In [70]:
# Q-15
def join_words(words_list):
    return " ".join(words_list)

words_list = ["my", "name", "is", "rahul", "kumar"]
joined_string = join_words(words_list)
print("Joined string:", joined_string)

Joined string: my name is rahul kumar

In [72]:
# Q-16
def replace_spaces_with_underscores(string):
    return string.replace(" ", "_")

input_string = "my name is rahul kumar"
modified_string = replace_spaces_with_underscores(input_string)
print("Modified string:", modified_string)

Modified string: my_name_is_rahul_kumar

In [81]:
# Q-17
def starts_with_word(string, word):
    return string.startswith(word)

input_string = "My name is rahul kumar"
word_to_check = "My"
if starts_with_word(input_string, word_to_check):
    print("The string starts with the word '{}'.".format(word_to_check))
else:
    print("The string does not start with the word '{}'.".format(word_to_check))

The string starts with the word 'My'.

In [84]:
# Q-18
def starts_with_word(string, word):
    return string.endswith(word)

input_string = "My name is rahul kumar"
word_to_check = "kumar"
if starts_with_word(input_string, word_to_check):
    print("The string ends with the word '{}'.".format(word_to_check))
else:
    print("The string does not ends with the word '{}'.".format(word_to_check))

The string ends with the word 'kumar'.

In [85]:
# Q-19
def convert_to_title_case(string):
    return string.title()
input_string = "My name is rahul kumar"
title_case_string = convert_to_title_case(input_string)
print("Title case string:", title_case_string)

Title case string: My Name Is Rahul Kumar

In [101]:
# Q-20
def longest_word(string):
    words = string.split()
    longest = max(words, key=len)
    return longest

input_string = "I am a data scientist"
longest = longest_word(input_string)
print("longest word:", longest)

longest word: scientist

In [102]:
# Q-21
def shortest_word(string):
    words = string.split()
    shortest = min(words, key=len)
    return shortest

input_string = "I am a data scientist"
shortest = shortest_word(input_string)
print("Shortest word:", shortest)

Shortest word: I

In [104]:
# Q-22
def reverse_words(string):
    words = string.split()
    reversed_string = ' '.join(reversed(words))
    return reversed_string

input_string = "Me is rahul kumar"
reversed_string = reverse_words(input_string)
print("Reversed string:", reversed_string)

Reversed string: kumar rahul is Me

In [105]:
# Q-23
def is_alphanumeric(string):
    return string.isalnum()

input_string = "Rahul123"
if is_alphanumeric(input_string):
    print("The string '{}' is alphanumeric.".format(input_string))
else:
    print("The string '{}' is not alphanumeric.".format(input_string))

The string 'Rahul123' is alphanumeric.

In [106]:
# Q-24
test_string = "There are 15 employees for 30 casual labour"

print("The original string : " + test_string)

find = [int(i) for i in test_string.split() if i.isdigit()]

print("The numbers list is :" + str(find))

The original string : There are 15 employees for 30 casual labour
The numbers list is :[15, 30]

In [114]:
# Q-25
test_string= input("Enter something: ")

print("Given string : ", test_string)

res = ""
for i in test_string:
    if i.isalpha():
        res = "".join([res, i])

print("Result: ", res)

Enter something:  rahul 1997

Given string :  rahul 1997
Result:  rahul

In [115]:
# Q-26
def count_uppercase(string):
    count = 0
    for char in string:
        if char.isupper():
            count += 1
    return count

input_string = "My name is Rahul Kumar"
uppercase_count = count_uppercase(input_string)
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 3

In [117]:
# Q-27
def count_lowercase(string):
    count = 0
    for char in string:
        if char.islower():
            count += 1
    return count

input_string = "My name is Rahul Kumar"
lowercase_count = count_lowercase(input_string)
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 15

In [118]:
# Q-28
def swap_case(string):
    return string.swapcase()

input_string = "My name is Rahul Kumar"
swapped_string = swap_case(input_string)
print("Swapped case string:", swapped_string)

Swapped case string: mY NAME IS rAHUL kUMAR

In [122]:
# Q-29
def remove_word(string, word):
    return string.replace(word, '')

input_string = "My name is Rahul kumar"
word_to_remove = "is"
modified_string = remove_word(input_string, word_to_remove)
print("Modified string:", modified_string)

Modified string: My name  Rahul kumar

In [127]:
# Q-30
import re

def check_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return bool(re.match(pattern, email))

email_address = "rahul01@email.com"
if check_valid_email(email_address):
    print("Valid email address.")
else:
    print("Invalid email address.")

Valid email address.

In [128]:
# Q -31
def extract_username(email):
    return email.split('@')[0]

email_address = "rahul01@email.com"
username = extract_username(email_address)
print("Username:", username)

Username: rahul01

In [130]:
# Q-32
def extract_domain(email):
    return email.split('@')[1]

email_address = "rahul01@email.com"
domain = extract_domain(email_address)
print("Domain:", domain)

Domain: email.com

In [2]:
# Q-33
def replace_multiple_spaces(string):
    while '  ' in string:
        string = string.replace('  ', ' ')
    return string

input_string = "My  name  is Rahul kumar."
modified_string = replace_multiple_spaces(input_string)
print("Modified string:", modified_string)

Modified string: My name is Rahul kumar.

In [5]:
# Q-34
import re

def is_valid_url(url):
    pattern = r'^(http|https)://[a-zA-Z0-9-.]+\.[a-zA-Z]{2,}(?:[/?#].*)?$'
    return bool(re.match(pattern, url))

url = "https://www.rahul01.com"
if is_valid_url(url):
    print("Valid URL.")
else:
    print("Invalid URL.")

Valid URL.

In [8]:
# Q-35
def extract_protocol(url):
    return url.split('://')[0]

url = "http://www.rahul01.com"
protocol = extract_protocol(url)
print("Protocol:", protocol)

Protocol: http

In [10]:
# Q-36
def character_frequency(string):
    frequency = {}
    for char in string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

input_string = "Rahul_kumar"
frequency = character_frequency(input_string)
print("Character frequency:", frequency)

Character frequency: {'R': 1, 'a': 2, 'h': 1, 'u': 2, 'l': 1, '_': 1, 'k': 1, 'm': 1, 'r': 1}

In [13]:
# Q-37
def remove_punctuation(string):
    return ''.join(char for char in string if char.isalnum() or char.isspace())

input_string = "Rahul_kumar!"
modified_string = remove_punctuation(input_string)
print("Modified string:", modified_string)

Modified string: Rahulkumar

In [15]:
# Q-38
def contains_only_digits(string):
    return all(char.isdigit() for char in string)

input_string = "4171"
if contains_only_digits(input_string):
    print("The string contains only digits.")
else:
    print("The string contains characters other than digits.")

The string contains only digits.

In [18]:
# Q-39
def contains_only_alphabets(string):
    return all(char.isalpha() for char in string)

input_string = "Rahul"
if contains_only_alphabets(input_string):
    print("The string contains only alphabets.")
else:
    print("The string contains characters other than alphabets.")

The string contains only alphabets.

In [19]:
# Q-40
def string_to_list(string):
    return list(string)

input_string = "Rahul_kumar"
character_list = string_to_list(input_string)
print("List of characters:", character_list)

List of characters: ['R', 'a', 'h', 'u', 'l', '_', 'k', 'u', 'm', 'a', 'r']

In [1]:
# Q-41
def are_anagrams(str1, str2):
    str1 = str1.lower().replace(" ", "")
    str2 = str2.lower().replace(" ", "")
    return sorted(str1) == sorted(str2)

string1 = "taste"
string2 = "state"
if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

In [3]:
# Q-42
# Didn't understood.

In [4]:
# Q-43
# Didn't understood.

In [9]:
# Q-44
from collections import Counter

def most_frequent_word(string):
    words = string.split()
    word_counts = Counter(words)
    most_common_word = word_counts.most_common(1)[0][0]
    return most_common_word

input_string = "My name is Rahul kumar friends call me Rahul ."
most_common = most_frequent_word(input_string)
print("Most frequent word:", most_common)

Most frequent word: Rahul

In [10]:
# Q-45
def unique_words(string):
    words = string.split()
    unique_words_set = set(words)
    return unique_words_set

input_string = "My name is Rahul kumar friends call me Rahul ."
unique_words_set = unique_words(input_string)
print("Unique words:", unique_words_set)

Unique words: {'My', 'friends', 'is', 'kumar', 'name', 'me', 'call', '.', 'Rahul'}

In [18]:
# Q-46
# Didn't understood

In [22]:
# Q-47
def contains_special_characters(string):
    for char in string:
        if not char.isalnum() and not char.isspace():
            return True
    return False

input_string = "My name is rahul kumar."
if contains_special_characters(input_string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [28]:
# Q-48
def removechar(str1, n):
	x = str1[ : n]
	y = str1[n + 1: ]
	return x + y

if __name__ == '__main__':
	str1 = input("Enter a String =")
	n = int(input("Enter the n-th index ="))

print("The new string = ")
print(removechar(str1, n))

Enter a String = My name is rahul kumar
Enter the n-th index = 7

The new string =
My nameis rahul kumar

In [32]:
# Q-49
def insert_word_at_nth_position(string, word, n):
    # Split the string into words
    words = string.split()
    
    if 0 <= n <= len(words):
        words.insert(n, word)
        modified_string = ' '.join(words)
        return modified_string
    else:
        return "Invalid index.".format(n)

input_string = "My name rahul kumar"
word_to_insert = "is"
n = 2
modified_string = insert_word_at_nth_position(input_string, word_to_insert, n)
print("Modified string:", modified_string)

Modified string: My name is rahul kumar

In [33]:
# Q-50
# Didn't understood.

In [2]:
# List based assignment problems.
# Q-1
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Q-2
def find_length(lst):
    count = 0
    for length in lst:
        count += 1
    return count

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = find_length(my_list)
print("Length of the list:", length)

Length of the list: 10

In [4]:
# Q-3
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.append(11)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [5]:
# Q-4
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.insert(2,99)
print(my_list)

[1, 2, 99, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# Q-5
my_list = [1, 2,99, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.remove(99)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# Q-6
my_list = [1, 2,99, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.pop(2)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# Q-7
lst = [ 1, 6, 3, 5, 3, 4 ] 
x = 4
if x in lst: 
	print("exist") 
else: 
	print("not exist")

exist

In [11]:
# Q-8
my_list = [1, 2, 3, 4, 5, 3]
x = 3

if x in my_list:
    index = my_list.index(x)
    print("Index of the first occurrence of", x, ":", index)
else:
    print("Element", x, "does not exist in the list.")

Index of the first occurrence of 3 : 2

In [17]:
# Q-9
my_list = [1, 2, 3, 4, 5, 3, 1, 2, 3, 5, 1]
x = 2

occurrences = my_list.count(x)
print("Occurrence of", x, "in the list:", occurrences)

Occurrence of 2 in the list: 2

In [19]:
# Q-10
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
# Q-11
my_list = [8, 2, 3, 7, 5, 4, 6, 9, 1, 10]
my_list.sort()
print("Sorted list:", my_list)

Sorted list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# Q-12
my_list = [8, 2, 3, 7, 5, 4, 6, 9, 1, 10]
my_list.sort ( reverse = True )
print("Sorted list:", my_list)

Sorted list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
# Q-13
even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
# Q-14
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [33]:
# Q-15
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Total_sum = sum(my_list)
print("Total sum :",Total_sum)

Total sum : 55

In [34]:
# Q-16
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max_value = max(my_list)
print("Maximum value :",max_value)

Maximum value : 10

In [35]:
# Q-17
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
min_value = min(my_list)
print("Minimum value :",min_value)

Minimum value : 1

In [36]:
# Q-18
squares = [num ** 2 for num in range(1, 11)]
print("Squares are :",squares)

Squares are : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
# Q-19
import random
random_numbers = [random.randint(1, 100) for x in range(100)]
print(random_numbers)

[38, 45, 27, 8, 94, 95, 5, 32, 64, 91, 81, 99, 33, 41, 29, 7, 52, 90, 66, 10, 2, 17, 93, 77, 58, 76, 36, 52, 15, 34, 81, 100, 36, 19, 97, 9, 2, 2, 62, 24, 24, 21, 60, 60, 72, 72, 58, 79, 31, 22, 24, 5, 65, 96, 59, 8, 19, 96, 36, 45, 69, 45, 57, 83, 82, 72, 51, 77, 33, 24, 35, 31, 80, 52, 42, 90, 15, 26, 12, 58, 12, 20, 4, 80, 69, 55, 78, 11, 15, 70, 47, 10, 64, 97, 80, 17, 3, 96, 26, 30]

In [41]:
# Q-20
my_list = [1, 2, 3, 2, 4, 5, 6, 4]
unique_list = list(set(my_list))
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5, 6]

In [42]:
# Q-21
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = list(set(list1).intersection(list2))
print("Common elements between the two lists:", common_elements)

Common elements between the two lists: [4, 5]

In [43]:
# Q-22
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
difference_list = [element for element in list1 if element not in list2]
print("different elements from the lists:", difference_list)

different elements from the lists: [1, 2, 3]

In [44]:
# Q-23
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2
print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6]

In [46]:
# Q-24
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
multiplied_list = [elements * 2 for elements in my_list]
print(multiplied_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
# Q-25
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = [num for num in my_list if num % 2 == 0]
print(filtered_list)

[2, 4, 6, 8, 10]

In [48]:
# Q-26
string_list = ["1", "2", "3", "4", "5"]
integer_list = [int(string) for string in string_list]
print("List of integers:", integer_list)

List of integers: [1, 2, 3, 4, 5]

In [49]:
# Q-27
integer_list = [1, 2, 3, 4, 5]
string_list = [str(integer) for integer in integer_list]
print("List of string:", string_list)

List of string: ['1', '2', '3', '4', '5']

In [52]:
# Q-28
my_list = [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
flatten_List = [element for innerList in my_list for element in innerList]
print('List', my_list)
print('Flatten List', flatten_List)

List [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
Flatten List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
# Q-29
def generate_fibonacci(n):
    fibonacci_list = []
    a, b = 1,2
    for x in range(n):
        fibonacci_list.append(a)
        a, b = b, a + b
    return fibonacci_list

fibonacci_numbers = generate_fibonacci(10)
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [58]:
# Q-30
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
is_sorted = True
for i in range(len(my_list) - 1):
    if my_list[x] > my_list[x + 1]:
        is_sorted = False
        break

if is_sorted:
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

In [60]:
# Q-31
def rotate_left(lst, n):
    n = n % len(lst) 
    return lst[n:] + lst[:n]

my_list = [1, 2, 3, 4, 5]
n = 3

rotated_list = rotate_left(my_list, n)
print("Original list:", my_list)
print("List rotated to the left by", n, "positions:", rotated_list)

Original list: [1, 2, 3, 4, 5]
List rotated to the left by 3 positions: [4, 5, 1, 2, 3]

In [62]:
# Q-32
def rotate_right(lst, n):
    n = n % len(lst) 
    return lst[-n:] + lst[:-n]

my_list = [1, 2, 3, 4, 5]
n = 3

rotated_list = rotate_right(my_list, n)
print("Original list:", my_list)
print("List rotated to the left by", n, "positions:", rotated_list)

Original list: [1, 2, 3, 4, 5]
List rotated to the left by 3 positions: [3, 4, 5, 1, 2]

In [63]:
# Q-33
def is_prime(n):
    if n <= 1:
        return False
    elif n == 2:
        return True
    elif n % 2 == 0:
        return False
    else:
        for i in range(3, int(n**0.5) + 1, 2):
            if n % i == 0:
                return False
        return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print("Prime numbers up to 50:", prime_numbers)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [65]:
# Q-34
def split_list_into_chunks(my_list, n):
    return [my_list[i:i + n] for i in range(0, len(my_list), n)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 4

chunks = split_list_into_chunks(my_list, chunk_size)
print("List split into chunks of size", chunk_size, ":", chunks)

List split into chunks of size 4 : [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10]]

In [66]:
# Q-35
def second_largest(lst):
    sorted_list = sorted(lst, reverse=True)
    if len(sorted_list) < 2:
        return None 
    return sorted_list[1]

my_list = [10, 5, 20, 15, 0, 35, 25, 30]
second_largest_number = second_largest(my_list)
print("Second largest number in the list:", second_largest_number)

Second largest number in the list: 30

In [68]:
# Q-36
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_list = [x ** 2 for x in my_list]
print("Original list:", my_list)
print("List with elements squared:", squared_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List with elements squared: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
# Q-37
# Don't know.

In [71]:
# Q-38
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [2, 3, 5, 7, 10, 1, 4, 9, 6, 8]

In [72]:
# Q-39
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(n) for n in range(10)]
print("First 10 factorial numbers:", factorial_numbers)

First 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [73]:
# Q-40
def have_common_element(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return bool(set1.intersection(set2))

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list3 = [5, 10, 15, 20]

print("List1 and List2 have common elements:", have_common_element(list1, list2))
print("List1 and List3 have common elements:", have_common_element(list1, list3))

List1 and List2 have common elements: False
List1 and List3 have common elements: True

In [74]:
# Q-41
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.clear()
print("List after removing all elements:", my_list)

List after removing all elements: []

In [76]:
# Q-42
my_list = [1, -2, 3, -4, 5, -6]
modified_list = [x if x >= 0 else 0 for x in my_list]
print("Original list:", my_list)
print("List with negative numbers replaced by 0:", modified_list)

Original list: [1, -2, 3, -4, 5, -6]
List with negative numbers replaced by 0: [1, 0, 3, 0, 5, 0]

In [77]:
# Q-43
my_string = "My name is Rahul kumar"
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['My', 'name', 'is', 'Rahul', 'kumar']

In [79]:
# Q-44
word_list = ['My', 'name', 'is', 'Rahul', 'Kumar']
my_string = ' '.join(word_list)
print("String:", my_string)

String: My name is Rahul Kumar

In [80]:
# Q-45
n = 5 
powers_of_2 = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", powers_of_2)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [82]:
# Q-46
def longest_string(strings):
    max_length = 0
    longest = ""
    for string in strings:
        if len(string) > max_length:
            max_length = len(string)
            longest = string
    return longest

string_list = ["apple", "banana", "orange", "grapes", "pomegranate"]
longest = longest_string(string_list)
print("Longest string:", longest)

Longest string: pomegranate

In [85]:
# Q-47
def shortest_string(strings):
    min_length = float('inf')
    shortest = ""
    for string in strings:
        if len(string) < min_length:
            min_length = len(string)
            shortest = string
    return shortest

string_list = ["apple", "banana", "orange", "grapes", "pomegranate"]
shortest = shortest_string(string_list)
print("shortest string:", shortest)

shortest string: apple

In [87]:
# Q-48
def triangular_number(n):
    return n * (n + 1) // 2

n = 10
triangular_numbers = [triangular_number(i) for i in range(1, n + 1)]
print("List of the first", n, "triangular numbers:", triangular_numbers)

List of the first 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [88]:
# Q-49
# Don't kmow.

In [92]:
# Q-50
def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]

my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

print("Original list:", my_list)
swap_elements(my_list, index1, index2)
print("List after swapping elements at indices", index1, "and", index2, ":", my_list)

Original list: [1, 2, 3, 4, 5]
List after swapping elements at indices 1 and 3 : [1, 4, 3, 2, 5]

In [1]:
# Tuple based assignment problems.
# Q-1
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [2]:
# Q-2
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[2])

3

In [4]:
# Q-3
def find_length(tup):
    count = 0
    for length in tup:
        count += 1
    return count

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
length = find_length(my_tuple)
print("Length of the tuple:", length)

Length of the tuple: 10

In [5]:
# Q-4
my_tuple = (1, 2, 3, 4, 5, 3, 1, 2, 3, 5, 1)
x = 5

occurrences = my_tuple.count(x)
print("Occurrence of", x, "in the tuple:", occurrences)

Occurrence of 5 in the tuple: 2

In [7]:
# Q-5
my_tuple = (1, 2, 3, 4, 5)
element_to_find = 3

index = my_tuple.index(element_to_find)
print("Index of", element_to_find, ":", index)

Index of 3 : 2

In [8]:
# Q-6
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3
if element_to_check in my_tuple:
    print(element_to_check, "exists in the tuple.")
else:
    print(element_to_check, "does not exist in the tuple.")

3 exists in the tuple.

In [9]:
# Q-7
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [10]:
# Q-8
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [11]:
# Q-9
my_tuple = (1, 2, 3)
a, b, c = my_tuple

print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

In [12]:
# Q-10
even_numbers = tuple(num for num in range(1, 11) if num % 2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10)

In [13]:
# Q-11
odd_numbers = tuple(num for num in range(1, 11) if num % 2 != 0)
print(odd_numbers)

(1, 3, 5, 7, 9)

In [14]:
# Q-12
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [1]:
# Q-13
my_tuple = (1, 2, 3, 4, 5)
repeated_tuple = my_tuple * 3

print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [2]:
# Q-14
my_tuple = ()

if len(my_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [3]:
# Q-15
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple)

((1, 2), (3, 4), (5, 6))

In [5]:
# Q-16
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]
print(first_element)

(1, 2)

In [10]:
# Q-17
my_tuple = (1,)
print(my_tuple)

(1,)

In [11]:
# Q-18
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# equality
if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

# inequality
if tuple1 != tuple2:
    print("Tuples are not equal")
else:
    print("Tuples are equal")

Tuples are not equal
Tuples are not equal

In [12]:
# Q-19
my_tuple = (1, 2, 3, 4, 5)
del my_tuple

In [14]:
# Q-20
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[4:7]

print(sliced_tuple)

(5, 6, 7)

In [15]:
# Q-21
my_tuple = (5, 10, 2, 8, 15)
max_value = max(my_tuple)

print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 15

In [16]:
# Q-22
my_tuple = (5, 10, 2, 8, 15)
min_value = min(my_tuple)

print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 2

In [18]:
# Q-23
my_string = "Rahul_kumar"
tuple_of_characters = tuple(my_string)

print(tuple_of_characters)

('R', 'a', 'h', 'u', 'l', '_', 'k', 'u', 'm', 'a', 'r')

In [21]:
# Q-24
tuple_of_characters = ('R','a','h','u','l')
string_from_tuple = ''.join(tuple_of_characters)

print(string_from_tuple)

Rahul

In [23]:
# Q-25
mixed_tuple = (1, "rahul", 1.01, True)
print(mixed_tuple)

(1, 'rahul', 1.01, True)

In [24]:
# Q-26
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("Tuples are identical.")
else:
    print("Tuples are not identical.")

Tuples are identical.

In [25]:
# Q-27
my_tuple = (3, 1, 5, 2, 4)
sorted_list = sorted(my_tuple)
sorted_tuple = tuple(sorted_list)

print(sorted_tuple)

(1, 2, 3, 4, 5)

In [26]:
# Q-28
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(integer) for integer in tuple_of_integers)

print(tuple_of_strings)

('1', '2', '3', '4', '5')

In [28]:
# Q-29
tuple_of_string = ('1', '2', '3', '4', '5')
tuple_of_integers = tuple(int(integer) for integer in tuple_of_string)

print(tuple_of_strings)

(1, 2, 3, 4, 5)

In [29]:
# Q-30
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2

print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [30]:
# Q-31
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return tuple(flattened)

nested_tuple = ((1, 2), (3, (4, 5)), 6, (7, 8, (9, 10)))
flattened_tuple = flatten_tuple(nested_tuple)

print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
# Q-32
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
 
primes = tuple(x for x in range(1,12) if is_prime(x))
print(primes)

(2, 3, 5, 7, 11)

In [6]:
# Q-33
def is_palindrome_tuple(input_tuple):
    return input_tuple == input_tuple[::-1]
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

print("Is", palindrome_tuple, "a palindrome?", is_palindrome_tuple(palindrome_tuple))
print("Is", non_palindrome_tuple, "a palindrome?", is_palindrome_tuple(non_palindrome_tuple))

Is (1, 2, 3, 2, 1) a palindrome? True
Is (1, 2, 3, 4, 5) a palindrome? False

In [7]:
# Q-34
squares_tuple = tuple(i ** 2 for i in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

In [8]:
# Q-35
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(item for item in my_tuple if item % 2 != 0)

print(filtered_tuple)

(1, 3, 5, 7, 9)

In [9]:
# Q-36
my_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = tuple(item * 2 for item in my_tuple)

print(multiplied_tuple)

(2, 4, 6, 8, 10)

In [10]:
# Q-37
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

print(random_tuple)

(13, 26, 26, 30, 82)

In [11]:
# Q-38
def is_sorted_tuple(input_tuple):
    return input_tuple == tuple(sorted(input_tuple))
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 4, 3, 2, 1)

print("Is", sorted_tuple, "sorted?", is_sorted_tuple(sorted_tuple))
print("Is", unsorted_tuple, "sorted?", is_sorted_tuple(unsorted_tuple))

Is (1, 2, 3, 4, 5) sorted? True
Is (5, 4, 3, 2, 1) sorted? False

In [12]:
# Q-39
def rotate_left_tuple(input_tuple, n):
    length = len(input_tuple)
    return input_tuple[n % length:] + input_tuple[:n % length]
my_tuple = (1, 2, 3, 4, 5)

rotated_tuple = rotate_left_tuple(my_tuple, 2)
print("Original tuple:", my_tuple)
print("Rotated tuple:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple: (3, 4, 5, 1, 2)

In [13]:
# Q-40
def rotate_right_tuple(input_tuple, n):
    length = len(input_tuple)
    return input_tuple[-(n % length):] + input_tuple[:-(n % length)]
my_tuple = (1, 2, 3, 4, 5)

rotated_tuple = rotate_right_tuple(my_tuple, 2)
print("Original tuple:", my_tuple)
print("Rotated tuple:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple: (4, 5, 1, 2, 3)

In [14]:
# Q-41
def fibonacci(n):
    fib_sequence = [0, 1]
    for i in range(2, n):
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return tuple(fib_sequence)
fibonacci_tuple = fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [15]:
# Q-42
user_input = input("Enter elements separated by commas: ")
user_input_list = user_input.split(',')
user_input_tuple = tuple(user_input_list)

print("Tuple created from user input:", user_input_tuple)

Enter elements separated by commas:  1,2,3,4,5

Tuple created from user input: ('1', '2', '3', '4', '5')

In [16]:
# Q-43
def swap_elements(input_tuple, idx1, idx2):
    temp_list = list(input_tuple)
    temp_list[idx1], temp_list[idx2] = temp_list[idx2], temp_list[idx1]
    return tuple(temp_list)
my_tuple = (1, 2, 3, 4, 5)
swapped_tuple = swap_elements(my_tuple, 1, 3)

print("Original tuple:", my_tuple)
print("Swapped tuple:", swapped_tuple)

Original tuple: (1, 2, 3, 4, 5)
Swapped tuple: (1, 4, 3, 2, 5)

In [17]:
# Q-44
def reverse_tuple(input_tuple):
    return input_tuple[::-1]
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(my_tuple)

print("Original tuple:", my_tuple)
print("Reversed tuple:", reversed_tuple)

Original tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)

In [18]:
# Q-45
def powers_of_2(n):
    return tuple(2 ** i for i in range(n))
n = 5
powers_tuple = powers_of_2(n)

print("Tuple of the first", n, "powers of 2:", powers_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [19]:
# Q-46
def longest_string_in_tuple(tuple_of_strings):
    longest_string = ""
    for string in tuple_of_strings:
        if len(string) > len(longest_string):
            longest_string = string
    return longest_string
my_tuple = ("apple", "banana", "orange", "grapes", "pomegranate")
longest = longest_string_in_tuple(my_tuple)

print("Longest string in the tuple:", longest)

Longest string in the tuple: pomegranate

In [25]:
# Q-47
def shortest_string_in_tuple(tuple_of_strings):
    shortest_string = tuple_of_strings[0]
    for string in tuple_of_strings[1:]:
        if len(string) < len(shortest_string):
            shortest_string = string
    return shortest_string
my_tuple = ("apple", "banana", "orange", "grapes", "pomegranate")
shortest = shortest_string_in_tuple(my_tuple)

print("Shortest string in the tuple:", shortest)

Shortest string in the tuple: apple

In [27]:
# Q-48
def triangular_numbers(n):
    return tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
n = 3
triangular_tuple = triangular_numbers(n)

print("Tuple of the first", n, "triangular numbers:", triangular_tuple)

Tuple of the first 3 triangular numbers: (1, 3, 6)

In [28]:
# Q-49
# Don't know.

In [29]:
# Q-50
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))
n = 6
alternating_tuple = alternating_ones_zeros(n)

print("Tuple of alternating 1s and 0s of length", n, ":", alternating_tuple)

Tuple of alternating 1s and 0s of length 6 : (1, 0, 1, 0, 1, 0)

In [30]:
# Set based assignment problems.
# Q-1
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [31]:
# Q-2
my_set = {1, 2, 3, 4, 5}
my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5, 6}

In [33]:
# Q-3
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)

print(my_set)

{1, 2, 4, 5}

In [34]:
# Q-4
my_set = {1, 2, 3, 4, 5}
if 3 in my_set:
    print("Element 3 exists in the set")
else:
    print("Element 3 does not exist in the set")

Element 3 exists in the set

In [35]:
# Q-5
def set_length(input_set):
    count = 0
    for _ in input_set:
        count += 1
    return count
my_set = {1, 2, 3, 4, 5}

length = set_length(my_set)
print("Length of the set:", length)

Length of the set: 5

In [36]:
# Q-6
my_set = {1, 2, 3, 4, 5}
my_set.clear()

print("Set after clearing:", my_set)

Set after clearing: set()

In [37]:
# Q-7
even_numbers_set = {num for num in range(1, 11) if num % 2 == 0}

print(even_numbers_set)

{2, 4, 6, 8, 10}

In [38]:
# Q-8
odd_numbers_set = {num for num in range(1, 11) if num % 2 != 0}

print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [39]:
# Q-9
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)

print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5}

In [40]:
# Q-10
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)

print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {3}

In [41]:
# Q-11
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)

print("Difference between set1 and set2:", difference_set)

Difference between set1 and set2: {1, 2}

In [42]:
# Q-12
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)

print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? True

In [43]:
# Q-13
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1.issuperset(set2)

print("Is set1 a superset of set2?", is_superset)

Is set1 a superset of set2? True

In [44]:
# Q-14
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5}

In [45]:
# Q-15
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

print(my_list)

[1, 2, 3, 4, 5]

In [71]:
# Q-16
import random
my_set = {1, 2, 3, 4, 5}
random_element = (my_set.pop())

print("Removed random element:", random_element)
print("Set after removal:", my_set)

Removed random element: 1
Set after removal: {2, 3, 4, 5}

In [53]:
# Q-17
my_set = {1, 2, 3, 4, 5}
random_element = my_set.pop()

print("Poped element:", random_element)
print("Set after removal:", my_set)

Poped element: 1
Set after removal: {2, 3, 4, 5}

In [54]:
# Q-18
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common_elements = set1.isdisjoint(set2)

print("Do set1 and set2 have no elements in common?", no_common_elements)

Do set1 and set2 have no elements in common? True

In [55]:
# Q-19
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_difference_set = set1.symmetric_difference(set2)

print("Symmetric difference between set1 and set2:", symmetric_difference_set)

Symmetric difference between set1 and set2: {1, 2, 5, 6}

In [56]:
# Q-20
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)

print("Set1 after updating with elements from set2:", set1)

Set1 after updating with elements from set2: {1, 2, 3, 4, 5}

In [57]:
# Q-21
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
 
primes = set(x for x in range(1,12) if is_prime(x))
print(primes)

{2, 3, 5, 7, 11}

In [58]:
# Q-22
set1 = {1, 2, 3}
set2 = {1, 2, 3}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [59]:
# Q-23
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)

print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [60]:
# Q-24
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets have elements in common.")

The sets are disjoint.

In [61]:
# Q-25
squares_set = {x ** 2 for x in range(1, 6)}

print("Set of squares of numbers from 1 to 5:", squares_set)

Set of squares of numbers from 1 to 5: {1, 4, 9, 16, 25}

In [62]:
# Q-26
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
odd_numbers_set = {x for x in original_set if x % 2 != 0}

print("Set with only odd numbers:", odd_numbers_set)

Set with only odd numbers: {1, 3, 5, 7, 9}

In [63]:
# Q-27
original_set = {1, 2, 3, 4, 5}
Multiplied_set = {x * 2 for x in original_set}

print("Set with elements multiplied by 2:", Multiplied_set)

Set with elements multiplied by 2: {2, 4, 6, 8, 10}

In [64]:
# Q-28
import random
random_numbers_set = {random.randint(1, 10) for _ in range(5)}

print("Set of random numbers:", random_numbers_set)

Set of random numbers: {3, 6}

In [72]:
# Q-29
my_set = set()

if bool(my_set):
    print("The set is not empty.")
else:
    print("The set is empty.")

The set is empty.

In [76]:
# Q-30
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7, 8})}

print("Nested set:", nested_set)

Nested set: {frozenset({3, 4, 5}), frozenset({8, 6, 7}), frozenset({1, 2})}

In [77]:
# Q-31
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)

print("Set after removing element 3:", my_set)

Set after removing element 3: {1, 2, 4, 5}

In [82]:
# Q-32
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Equality
print("Equality:", set1 == set2)

# Subset
print("Subset:", set1.issubset(set2))

# Superset
print("Superset:", set1.issuperset(set2))

# Disjoint
print("Disjoint:", set1.isdisjoint(set2))

Equality: False
Subset: True
Superset: False
Disjoint: False

In [83]:
# Q-33
my_string = "RAHUL"
my_set = set(my_string)

print("Set from string:", my_set)

Set from string: {'U', 'A', 'R', 'H', 'L'}

In [84]:
# Q-34
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = {int(string) for string in set_of_strings}

print("Set of integers:", set_of_integers)

Set of integers: {1, 2, 3, 4, 5}

In [86]:
# Q-35
set_of_integers = {1, 2, 3, 4, 5}
set_of_string = {str(integer) for integer in set_of_integers}

print("Set of integers:", set_of_string)

Set of integers: {'4', '1', '2', '5', '3'}

In [87]:
# Q-36
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)

print("Set from tuple:", my_set)

Set from tuple: {1, 2, 3, 4, 5}

In [88]:
# Q-37
my_set = (1, 2, 3, 4, 5)
my_tuple = tuple(my_set)

print("Tuple from set:", my_tuple)

Tuple from set: (1, 2, 3, 4, 5)

In [89]:
# Q-38
my_set = {1, 3, 5, 7, 9}
max_value = max(my_set)

print("Maximum value in the set:", max_value)

Maximum value in the set: 9

In [90]:
# Q-39
my_set = {1, 3, 5, 7, 9}
min_value = min(my_set)

print("Minimum value in the set:", min_value)

Minimum value in the set: 1

In [91]:
# Q-40
input_string = input("Enter elements separated by spaces: ")
elements = input_string.split()
user_set = set(elements)

print("Set from user input:", user_set)

Enter elements separated by spaces:  2,3,8,9

Set from user input: {'2,3,8,9'}

In [92]:
# Q-41
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is empty.

In [95]:
# Q-42
def fibonacci_sequence(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

first_5_fibonacci_numbers = fibonacci_sequence(5)

print("Set of the first 5 Fibonacci numbers:", first_5_fibonacci_numbers)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [96]:
# Q-43
my_list = [1, 2, 3, 3, 4, 4, 5, 5]
unique_list = list(set(my_list))

print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

In [97]:
# Q-44
set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1, 2, 2, 3, 3}

if set1 == set2:
    print("set1 and set2 have the same elements regardless of their count.")
else:
    print("set1 and set2 do not have the same elements regardless of their count.")

if set1 == set3:
    print("set1 and set3 have the same elements regardless of their count.")
else:
    print("set1 and set3 do not have the same elements regardless of their count.")

set1 and set2 have the same elements regardless of their count.
set1 and set3 have the same elements regardless of their count.

In [98]:
# Q-45
n = 5
powers_of_2_set = {2 ** i for i in range(n)}

print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [99]:
# Q-46
my_set = {1, 2, 3, 4, 5}
my_list = [4, 5, 6, 7, 8]
common_elements = my_set.intersection(my_list)

print("Common elements:", common_elements)

Common elements: {4, 5}

In [100]:
# Q-47
n = 5
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

print("Set of the first", n, "triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [101]:
# Q-48
set1 = {1, 2, 3, 4, 5}
subset = {2, 3}

if subset.issubset(set1):
    print("subset is a subset of set1.")
else:
    print("subset is not a subset of set1.")

subset is a subset of set1.

In [102]:
# Q-49
# Don't know.

In [103]:
# Q-50
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}