In [1]:
# Basic level
# Q-1
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [12]:
# Q-2
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_of_my_list = 0
for num in my_list:
    sum_of_my_list += num
    
print("Sum of all the numbers in the list :", sum_of_my_list)

Sum of all the numbers in the list : 55

In [14]:
# Q-3
my_string = "Rahul_kumar"
for char in reversed(my_string):
    print(char, end = "")

ramuk_luhaR

In [16]:
# Q-4
n = int(input("Enter a number :"))
factorial = 1
if n >= 1:
    for i in range (1,n+1):
        factorial = factorial * i
print("Factorial of the given number is :",factorial)

Enter a number : 8

Factorial of the given number is : 40320

In [21]:
# Q=5
my_num = int(input("Enter the number you want to generate a multiplication table for :"))
my_range = range(1,11)
for x in my_range:
    result = my_num * x
    print(my_num," * ",x," = ",result)

Enter the number you want to generate a multiplication table for : 10

10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100

In [23]:
# Q-6
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
even_num = 0
odd_num = 0
for num in my_list:
    if num % 2 == 0:
        even_num += 1
    else:
        odd_num += 1

print("Total even number in the list is :",even_num)
print("Total odd number in the list is :",odd_num)

Total even number in the list is : 5
Total odd number in the list is : 6

In [30]:
# Q-7
for num in range(1,6):
    print(f"Square of the {num} is : {num**2}")

Square of the 1 is : 1
Square of the 2 is : 4
Square of the 3 is : 9
Square of the 4 is : 16
Square of the 5 is : 25

In [33]:
# Q-8
my_string = "Rahul_kumar_is_good_boy"
count = 0
for i in my_string:
    count += 1
print("Length of the string is :",count)

Length of the string is : 23

In [47]:
# Q-9
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
sum_of_my_list = 0
for num in my_list:
    sum_of_my_list += num
average = sum_of_my_list / len(my_list)
print(average)

6.5

In [48]:
# Q-10
num = 10
n1, n2 = 0, 1
if num == 1:
    print(n1)
else:
    print(n1, n2, end = " ")
    for i in range(2,num):
        n3 = n1 + n2
        n1 = n2
        n2 = n3
        print(n3, end = " ")

0 1 1 2 3 5 8 13 21 34

In [6]:
# Intermediate level
# Q-11
def check_duplicates(my_list):
    seen = set()
    for item in my_list:
        if item in seen:
            return True
        seen.add(item)
    return False
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Contains duplicates ", check_duplicates(my_list))

my_list_with_duplicates = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, 6, 8]
print("Contains duplicates ", check_duplicates(my_list_with_duplicates))

Contains duplicates  False
Contains duplicates  True

In [1]:
# Q-12
def print_primes(start, end):
    for num in range(start, end + 1):
        if num > 1:
            for i in range(2, num):
                if num % i == 0:
                    break
            else:
                print(num)

In [3]:
print_primes(1,100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [5]:
# Q-13
def count_vowels(input_string):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in input_string:
        if char in vowels:
            count += 1
    return count

input_string = "Rahul_kumar"
print("Number of vowels in the string: ", count_vowels(input_string))

Number of vowels in the string:  4

In [9]:
# Q-14
def find_max_2d_list(lst):
    max_element = lst[0][0]
    for row in lst:
        for element in row:
            if element > max_element:
                max_element = element
    return max_element

lst = [[11, 20, 13], [14, 17, 22], [30, 10, 12]]
print("Maximum element in the 2D list: ", find_max_2d_list(lst))

Maximum element in the 2D list:  30

In [12]:
# Q-15
def remove_element(lst, element):
    new_lst = [x for x in lst if x != element]
    return new_lst

original_list = [1, 2, 3, 4, 2, 5, 2, 5, 6, 8]
element_to_remove = 5
updated_list = remove_element(original_list, element_to_remove)
print("Original List:", original_list)
print("Updated List after removing all occurrences of", element_to_remove, ":", updated_list)

Original List: [1, 2, 3, 4, 2, 5, 2, 5, 6, 8]
Updated List after removing all occurrences of 5 : [1, 2, 3, 4, 2, 2, 6, 8]

In [15]:
# Q-16
def create_multiplication_table():
    for i in range(1, 6):
        for j in range(1, 6):
            print(f"{i} * {j} = {i * j}")
        print()

create_multiplication_table()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [17]:
# Q-17
def convert_fahrenheit_to_celsius(fahrenheit_temps):
    celsius_temps = []
    for temp in fahrenheit_temps:
        celsius = (temp - 32) * 5.0/9.0
        celsius_temps.append(celsius)
    return celsius_temps

fahrenheit_temps = [32, 44, 56, 70]
celsius_temps = convert_fahrenheit_to_celsius(fahrenheit_temps)
print("Fahrenheit temperatures:", fahrenheit_temps)
print("Celsius temperatures:", celsius_temps)

Fahrenheit temperatures: [32, 44, 56, 70]
Celsius temperatures: [0.0, 6.666666666666667, 13.333333333333334, 21.11111111111111]

In [18]:
# Q-18
def find_common_elements(l1, l2):
    common_elements = []
    for element in l1:
        if element in l2 and element not in common_elements:
            common_elements.append(element)
    return common_elements

l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]
common_elements = find_common_elements(l1, l2)
print("Common elements from the two lists:", common_elements)

Common elements from the two lists: [4, 5]

In [25]:
# Q-19
def print_triangle_pattern(n):
    for i in range(1, n + 1):
        print(' ' * (n - i) + '*' * i)

n = 5
print_triangle_pattern(n)

    *
   **
  ***
 ****
*****

In [28]:
# Q-20
def gcd(a, b):
    smaller = min(a, b)
    for i in range(1, smaller + 1):
        if a % i == 0 and b % i == 0:
            gcd = i
    return gcd

num1 = 256
num2 = 144
result = gcd(num1, num2)
print("The GCD of", num1, "and", num2, "is:", result)

The GCD of 256 and 144 is: 16

In [30]:
# Advanced level
# Q-21
def sum_digits(lst):
    return sum(int(digit) for num in lst for digit in str(num))

numbers = [325, 865, 159]
result = sum_digits(numbers)
print("Sum of digits of numbers in the list:", result)

Sum of digits of numbers in the list: 44

In [31]:
# Q-22
def prime_factors(n):
    factors = []
    for i in range(2, int(n ** 0.5) + 1):
        while n % i == 0:
            factors.append(i)
            n //= i
    if n > 2:
        factors.append(n)
    return [x for x in factors if is_prime(x)]

def is_prime(n):
    return n > 1 and all(n % i for i in range(2, int(n ** 0.5) + 1))

number = 60
result = prime_factors(number)
print("Prime factors of", number, ":", result)

Prime factors of 60 : [2, 2, 3, 5]

In [32]:
# Q-23
def extract_unique_elements(lst):
    return list(set(lst))

original_list = [1, 2, 2, 3, 4, 4, 5, 5, 5]
unique_elements = extract_unique_elements(original_list)
print("Original list:", original_list)
print("Unique elements:", unique_elements)

Original list: [1, 2, 2, 3, 4, 4, 5, 5, 5]
Unique elements: [1, 2, 3, 4, 5]

In [34]:
# Q-24
def generate_palindromic_numbers(limit):
    return [str(i) for i in range(10, limit + 1) if str(i) == str(i)[::-1]]

# Example usage
limit = 100
palindromic_numbers = generate_palindromic_numbers(limit)
print("Palindromic numbers up to", limit, ":", palindromic_numbers)

Palindromic numbers up to 100 : ['11', '22', '33', '44', '55', '66', '77', '88', '99']

In [38]:
# Q-25
def flatten(nested_list):
    #Flattens a nested list.
    return [item for sublist in nested_list for item in sublist]

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened_list = flatten(nested_list)
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
# Q-26
def sum_even_odd(lst):
    even_sum = sum([num for num in lst if num % 2 == 0])
    odd_sum = sum([num for num in lst if num % 2 != 0])
    return even_sum, odd_sum

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum, odd_sum = sum_even_odd(lst)
print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 30
Sum of odd numbers: 25

In [42]:
# Q-27
def squares_of_odd_numbers():
    return [i ** 2 for i in range(1, 11) if i % 2 != 0]

squares = squares_of_odd_numbers()
print("Squares of odd numbers between 1 and 10:", squares)

Squares of odd numbers between 1 and 10: [1, 9, 25, 49, 81]

In [43]:
# Q-28
def combine_to_dict(keys, values):
    return {key: value for key, value in zip(keys, values)}

keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]
new_dict = combine_to_dict(keys, values)
print("Dictionary:", new_dict)

Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [45]:
# Q-29
def extract_vowels(string):
    vowels = ['a', 'e', 'i', 'o', 'u']
    return [char for char in string.lower() if char in vowels]

input_string = "Rahul_kumar"
vowel_list = extract_vowels(input_string)
print("Vowels in the string:", vowel_list)

Vowels in the string: ['a', 'u', 'u', 'a']

In [46]:
# Q-30
def remove_non_numeric(lst):
    return [''.join(char for char in string if char.isdigit()) for string in lst]

string_list = ['apple123', 'hello45world', '678', 'abc']
cleaned_list = remove_non_numeric(string_list)
print("Original list:", string_list)
print("Cleaned list:", cleaned_list)

Original list: ['apple123', 'hello45world', '678', 'abc']
Cleaned list: ['123', '45', '678', '']

In [47]:
# Challenge level
# Q-31
def sieve_of_eratosthenes(n):
    primes = [True for _ in range(n + 1)]
    primes[0] = primes[1] = False
    p = 2
    while p ** 2 <= n:
        if primes[p]:
            for i in range(p ** 2, n + 1, p):
                primes[i] = False
        p += 1
    return [p for p in range(2, n + 1) if primes[p]]

n = 30
primes = sieve_of_eratosthenes(n)
print("Prime numbers up to", n, ":", primes)

Prime numbers up to 30 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [50]:
# Q-32
def generate_pythagorean_triplets(limit):
    # Generates a list of all Pythagorean triplets up to a specified limit.
    return [(a, b, c) 
            for a in range(1, limit + 1) 
            for b in range(a, limit + 1) 
            for c in range(b, limit + 1) 
            if a**2 + b**2 == c**2]

# Example usage
limit = 15
pythagorean_triplets = generate_pythagorean_triplets(limit)
print("Pythagorean triplets up to the limit", limit, "are:", pythagorean_triplets)

Pythagorean triplets up to the limit 15 are: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (9, 12, 15)]

In [53]:
# Q-33
def create_combinations(lst1, lst2):
    return [(x, y) for x in lst1 for y in lst2]

list1 = [1, 2]
list2 = ['a', 'b']
combinations = create_combinations(list1, list2)
print("Combinations of", list1, "and", list2, ":", combinations)

Combinations of [1, 2] and ['a', 'b'] : [(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]

In [57]:
# Q-34
import statistics

def calculate_mean(numbers):
    return sum(numbers) / len(numbers) if numbers else 0

def calculate_median(numbers):
    sorted_numbers = sorted(numbers)
    n = len(sorted_numbers)
    mid = n // 2
    if n % 2 == 0:
        return (sorted_numbers[mid - 1] + sorted_numbers[mid]) / 2
    else:
        return sorted_numbers[mid]

def calculate_mode(numbers):
    frequency = {num: numbers.count(num) for num in numbers}
    max_frequency = max(frequency.values())
    modes = [num for num, freq in frequency.items() if freq == max_frequency]
    return modes if len(modes) > 1 else modes[0]

numbers = [1, 2, 3, 4, 5, 5, 7, 9]

mean = calculate_mean(numbers)
median = calculate_median(numbers)
mode = calculate_mode(numbers)

print("Numbers:", numbers)
print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Numbers: [1, 2, 3, 4, 5, 5, 7, 9]
Mean: 4.5
Median: 4.5
Mode: 5

In [59]:
# Q-37
def find_longest_word(sentence):
    words = sentence.split()
    longest_word = max(words, key=len)
    return longest_word

sentence = "Rahul studying data science from pwskills"
longest_word = find_longest_word(sentence)
print("The longest word in the sentence is:", longest_word)

The longest word in the sentence is: studying